/* Use this if using multiple Proxima Soft font weights  */
/* @import url("./fonts/Proxima_Soft/stylesheet.css"); */
/* from https://fontshub.pro/font/proxima-soft-download */


/* Use this if only using 1 Proxima Soft font weight  */
@font-face {
  font-family: 'Proxima Soft';
  font-weight: 500;
  src: url('../fonts/Proxima_Soft/ProximaSoft-Medium.ttf') format('woff');
}


/* html {scroll-behavior: smooth;}  */

.responsiveRoleBlock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding-top: 0.25rem;
}

.responsiveDate {
  order: 3;
}

@media only screen and (min-width: 900px) { 
  
  .responsiveRoleBlock { flex-direction: row; padding-top: 0rem; }

  .responsiveDate {
    position: absolute;
    right: 0; 
    order: 2;
  }
}

@media only screen and (min-width: 900px) { .responsiveDate { flex-direction: row; }}



.listIndent-sm {
  text-indent: -0.6rem;
  margin-left: 0.6rem
}

.listIndent-lg {
  text-indent: -3.5rem;
  margin-left: 3.5rem
}






/* Tooltip code */
.tooltipBase {
   position: relative;
   display: inline-block;
}  


/* Colors & padding are set on tailwind.css, to use Tailwind presets */
.tooltipBase .tooltipItself {
  
   text-align: center;
   border-radius: 6px;
   opacity: 95%;

   visibility: hidden;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: 50%;
   margin-left: -60px;
 }
 
 .tooltipBase .tooltipItself::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: grey transparent transparent transparent;
 }
 
 .tooltipBase:hover .tooltipItself {
   visibility: visible;
   transition-delay: 500ms;
 }

