/* Use this if using multiple Proxima Soft font weights  */
/* @import url("./fonts/Proxima_Soft/stylesheet.css"); */
/* from https://fontshub.pro/font/proxima-soft-download */


/* Use this if only using 1 Proxima Soft font weight  */
@font-face {
  font-family: 'Proxima Soft';
  font-weight: 500;
  src: url('../fonts/Proxima_Soft/ProximaSoft-Medium.ttf') format('woff');
}


/* html {scroll-behavior: smooth;}  */


/* Tooltip code */
.tooltip {
   position: relative;
   display: inline-block;
}  


/* Colors & padding are set on tailwind.css, to use Tailwind presets */
.tooltip .tooltiptext {
  
   text-align: center;
   border-radius: 6px;
   opacity: 95%;

   visibility: hidden;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: 50%;
   margin-left: -60px;
 }
 
 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: grey transparent transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }

